[submodule "qhull"]
	path = thirdparty/qhull
	url = https://github.com/qhull/qhull.git
[submodule "thirdparty/gmmodulebase"]
	path = thirdparty/gmmodulebase
	url = https://github.com/garrynewman/gmod-module-base.git
[submodule "bullet3"]
	path = bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "thirdparty/hl2sdk-csgo"]
	path = thirdparty/hl2sdk-csgo
	url = https://github.com/alliedmodders/hl2sdk
	branch = csgo
